html {
  height: 90%;
}
body {
  height: 95%;
}
#root {
  height: 90%;
}

#header {
  background-color: black;
  height: 8%;
  width: 100%;
  margin-top: -1%;
  margin-left: -1%;
  color: white;
  position: fixed;
  display: block;
  text-align: center;
}

#main {
  margin-top: 4%;
  height: 100%;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#signout {
  float: right;
  display: none;
}

#signInandUp {
  float: right;
}

#signIn {
  display: none;
}

#signUp {
  display: none;
}