html {
  height: 90%;
}
body {
  height: 95%;
}
#root {
  height: 90%;
}

#header {
  background-color: black;
  height: 8%;
  width: 100%;
  margin-top: -1%;
  margin-left: -1%;
  color: white;
  position: fixed;
  display: block;
  text-align: center;
}

#main {
 	margin-top: 4%;
	border: 1px solid #000000;
	height: 100%;
	width: 60%;
	display: inline-block;
	float: left;
}

#sidebar {
  display:inline-block;
  height: 100%;
  width: 37%;
  margin-top: 4%;
  border: 1px solid #000000;
  margin-left: 1%;
  position: relative;
  background-color: lightblue;
}

#tabSelector {
  border: 1px solid black;
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.tabcontent {
  text-align: center;
}

.active {
  background-color: lightblue;
}

.tablink {
  padding-left: 6.5%;
  padding-right: 6.5%;
}

.annotation {
  border: 1px solid black;
  text-align: left;
  width: 45%;
  margin-left: 2.5%;
  display: inline-block;
  margin-bottom: 2.5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#signout {
  float: right;
}