html {
  height: 90%;
}
body {
  height: 95%;
}
#root {
  height: 90%;
}

#header {
  background-color: black;
  height: 5%;
  width: 100%;
  margin-top: -1%;
  margin-left: -1%;
  padding-bottom: 1%;
  color: white;
  position: fixed;
  display: block;
  text-align: center;
}

#main {
 	margin-top: 4%;
	border: 1px solid #000000;
	height: 100%;
	width: 60%;
	display: inline-block;
	float: left;
}

#sidebar {
  display:inline-block;
  height: 100%;
  width: 37%;
  margin-top: 4%;
  border: 1px solid #000000;
  margin-left: 1%;
  position: relative;
  background-color: lightblue;
}

#tabSelector {
  border: 1px solid black;
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.tabcontent {
  text-align: center;
}

.active {
  background-color: lightblue;
}

.tablink {
  padding-left: 6.5%;
  padding-right: 6.5%;
}
